.footer {
    height: 200px;
    width: 100%;
    background-color: var(--mainBlue);
    color:white;
    padding: 10px;
}
.footer h1 {
    text-align:center ;
    margin-top: 16px;
}
.footer-comp {
    width: 100%;
    margin-top: 32px;
}
.footer a {
    color: white;
}