.footer {
    height: 200px;
    width: 100%;
    background-image: linear-gradient(-20deg,var(--mainBlue)80%,var(--softBlue));
    color:white;
    padding: 10px;
}
.footer h1 {
    text-align:center ;
    margin-top: 16px;
}
.footer-comp {
    width: 100%;
    margin-top: 32px;
}
.footer a {
    color: white;
}