input {
    margin-top: 32px;
    width: 450px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: 1px solid gray;
}
.inputField .btnMain {
    height: 40px;
    margin-left: -4px;
    border-radius: 0 4px 4px 0;
}
.searchButton {
    width: 200px;
    background-color: var(--mainBlue);
    color: white;
    height: 50px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    margin-top: 32px;

}