nav {
    box-shadow: 0 2px 20px 2px rgba(0, 0, 0, 0.204); 
    padding: 5px;
    height: 50px;
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
}
.brand {
    width: 100px;
    height: 28px;
    margin-left: 0px;
}
nav ul {
    margin-left: 20px;
}
nav ul li{
    list-style-type: none;
    margin-left:43px;
    color:var(--mainBlue);
}
nav .btnMain {
    margin-left: 144px;
}