@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
  --mainBlue : #362FD9;
  --secondBlue : #DEFCF9;
  --gray : #686868;
  --yellow : #FFD700;
  --softBlue : #3C84AB;
}
.d-flex {
  display: flex;
}
.jcc {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.dc {
  flex-direction: column;
}
.jca {
  justify-content: space-around;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
input::placeholder {
  font-size:normal;
}
button {
  cursor: pointer;
}